.baner-text {
  color: #333333;
  line-height: 20px;
  font-weight: 700;
}
.baner-text .heding {
  font-weight: 700;
  font-size: 62px;
}
.baner-text .Organici {
  font-weight: 10;
}
.baner-text .Organici span {
  font-weight: 700;
}
.baner-text .lorem {
  color: #666666;
  margin-top: 0px;
  font-size: 13px;
  font-weight: 100;
}
.baner-text button {
  background-color: #81b03f;
  border: none;
  color: #ffffff;
  padding: 15px 40px;
  font-weight: 100;
  margin-bottom: 250px;
}

.wlogo {
  position: relative;
  position: absolute;
  left: 47%;
  margin-top: 100px;
}

.Green {
  position: absolute;
  left: 44%;
  color: #81b03f;
  font-size: 20px;
  padding-top: 87px;
  letter-spacing: 1px;
}

.welcome {
  padding-top: 180px;
  font-weight: 700;
  font-size: 42px;
}

.icon-1 {
  padding: 0px 110px;
  width: 120px;
  height: 115px;
  position: relative;
}

.icon-1.img {
  width: 100%;
  height: 100%;
}

.top-img {
  position: absolute;
  padding: 0px 110px;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.05 ease;
}
.top-img:hover {
  opacity: 1;
}

.other {
  height: 563px;
  width: 797px;
  margin-left: 250px;
}

/**/
.vegetable {
  width: 100%;
}

.fruit {
  background-image: url(../img/bg-item-02.jpg);
}

.vegetable-1 {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  border-style: none;
  background-repeat: no-repeat;
  background-image: url(../img/bg-item-01.jpg);
}

.vegetable-11 {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url(../img/bg-item-01.jpg);
}

/**/
.gallery-single {
  position: relative;
}
.gallery-single:hover .content1 {
  display: block;
  transform: scaleypx(10);
}

.chenja {
  background-color: rgba(80, 159, 16, 0.206);
  border-radius: 15px;
}
.chenja:hover {
  background-color: #81b03f;
}

.content1 {
  position: absolute;
  display: none;
  bottom: 30px;
  transition: all 0.5s;
  left: 100px;
}

.all-product {
  position: relative;
  width: 268px;
  height: 352px;
}

.title-1 {
  padding-left: 80px;
  position: absolute;
  margin-top: -165px;
}

.special-grid {
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  border: 1px solid rgba(102, 102, 102, 0.2549019608);
}
.special-grid:hover {
  border: 1px solid #81b03f;
  box-shadow: 0 0 15px #81b03f;
}

.bg-2 {
  background-image: url(../img/bg-01.jpg);
}

.other2 {
  position: absolute;
  width: 791px;
  height: 577px;
}

.Green-2 {
  position: absolute;
  margin-left: 110px;
  color: #81b03f;
  font-size: 20px;
  padding-top: 87px;
  letter-spacing: 1px;
}

.wlogo-2 {
  position: relative;
  position: absolute;
  margin-left: 160px;
  margin-top: 100px;
}

.welcome-2 {
  padding-top: 180px;
  margin-right: 340px;
  font-weight: 700;
  font-size: 42px;
}

.roasted {
  color: #666666;
  font-weight: 600;
}
.roasted:hover {
  color: #81b03f;
}

.now {
  font-weight: 600;
  color: #81b03f;
}
.now samp {
  color: #999999;
}

.btn-2 {
  background-color: rgba(129, 176, 63, 0);
  border: 1px solid rgba(102, 102, 102, 0.462745098);
  padding: 10px 35px;
  font-weight: 100;
  margin-bottom: 250px;
}
.btn-2:hover {
  background-color: #81b03f;
  color: #ffffff;
}

/**/
.organic .card h5 {
  color: #999999;
  font-weight: 300;
}
.organic h2 {
  color: #333333;
}
.organic h2 span {
  color: #666666;
}
.organic .hr {
  border: 1px solid #cccccc;
}

/**/
.avatar1 {
  border-radius: 100%;
  border: 2px solid #81b03f;
  margin-left: 565px;
  margin-top: 100px;
}

/* Other styling elements, that are not necessary for the example *//*# sourceMappingURL=Home.css.map */